*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-wrapper {
    margin-top: 100px;
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alert-warning {
    position: relative;
}


/* dashboard */

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    position: relative;
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: white;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(43, 41, 41, 0.2);
    border: 1px solid rgba(43, 41, 41, 0.2);
    z-index: -1;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}


/* side bar */

#sidebar {
    position: relative;
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;
}

#sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(43, 41, 41, 0.2);
    border: 1px solid rgba(43, 41, 41, 0.2);
    z-index: -1;
}

#sidebar.active {
    margin-left: -250px;
}

img {
    width: 100%;
    height: 100%;
}


/* profile end */

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: black;
}

#sidebar ul li a:hover {
    background: rgba(0, 0, 0, 0.068);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: rgba(0, 0, 0, 0.068);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.card {
    background-color: white;
    color: black;
}

.pkl__box {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    min-height: 500px;
    border-radius: 10px;
    padding: 5px;
}

.pkl__letter {
    position: relative;
    padding: 10px;
    border-radius: 10px;
}

.pkl__letter::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(43, 41, 41, 0.2);
    border: 1px solid rgba(43, 41, 41, 0.2);
    z-index: -1;
}

.pkl__form,
.pkl__recommendation__form {
    display: none;
    padding: 10px;
    border-radius: 10px;
}

.box {
    position: relative;
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(43, 41, 41, 0.2);
    border: 1px solid rgba(43, 41, 41, 0.2);
    z-index: -1;
}

.pkl__recommendation__form {
    position: relative;
}

.btn-footer {
    position: absolute;
    bottom: 0;
}

textarea {
    resize: none;
}

.custome-alert {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: none;
    background-color: #38a4ec4b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 2;
}

.close-box h5:nth-child(1) {
    font-size: clamp(20px, 14px, 14px);
    margin-left: 10px;
    margin-top: 5px;
    text-transform: uppercase;
}

.close-box h5:nth-child(2) {
    font-size: clamp(20px, 14px, 14px);
    margin-right: 10px;
    cursor: pointer;
    margin-top: 2px;
    transition: 0.2s ease-in;
}

.close-box h5:hover:nth-child(2) {
    color: red;
    transform: scale(2);
}


/* show e-letters, on dashboard  */

.show-e-letter {
    position: relative;
    text-align: center;
}

.show-e-letter .box-show-e-letter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.show-e-letter .box-show-e-letter .box-e-letter {
    background-color: white;
    position: relative;
    border-radius: 10px;
    min-height: 100px;
    position: relative;
}

.box-e-letter::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(43, 41, 41, 0.2);
    border: 1px solid rgba(43, 41, 41, 0.2);
}

.e-letter-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.e-letter-footer {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.e-letter-footer h4,
.e-letter-header h4 {
    font-size: clamp(20px, 14px, 14px);
    padding: 5px;
    z-index: 1;
}

.e-letter-table {
    margin-top: 20px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.e-letter-table::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(43, 41, 41, 0.2);
    border: 1px solid rgba(43, 41, 41, 0.2);
    z-index: -1;
}

.e-letter-table h2 {
    margin-left: 10px;
    font-size: clamp(12px, 14px, 18px);
    padding: 10px;
}

.table-e-letter {
    border-radius: 10px;
    width: 100%;
    overflow-y: auto;
}

@media only screen and (max-width: 900px) {
    .pkl__box {
        width: auto;
        grid-template-columns: 1fr;
        gap: 10px;
        height: auto;
    }
    .show-e-letter .box-show-e-letter {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}